<head>
    <title>SHOW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="padding-top:3em;">
      <form class="row" action="/update/<%=todo[0].id%>" method="POST">
          <div class="col-10">
            <label>What Todo</label>
            <input type="text" class="form-control" name="item" value="<%= todo[0].content %>">
          </div>
          
          <div style="text-align: right; padding-top:30px;">
              <button type="submit" class="btn btn-primary">EDIT</button>
          </div>
        </form>
        <a class="btn btn-outline-info" href="/" role="button">BACK</a>
    </div>
</body>